source ~/.profile
eval "$(/opt/homebrew/bin/brew shellenv)"

{{ if .hasOrbStack -}}
# OrbStack
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{- end }}

{{ if .hasJetBrains -}}
# JetBrains Toolbox scripts
export PATH="$PATH:$HOME/Library/Application Support/JetBrains/Toolbox/scripts"
{{- end }}

export PATH="$PATH:$HOME/.local/bin"
